@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Public+Sans:wght@300;400;500;600;900&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  color: $primary-font-color;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

//Flexbox

.flex {
  display: flex;

  &-direction-column {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-fe {
    justify-content: flex-end;
  }
  &-jc-se {
    justify-content: space-evenly;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
  &-ai-fe {
    align-items: flex-end;
  }

  &-order-1 {
    order: 1;
  }

  &-order-2 {
    order: 2;
  }

  &-1 {
    flex: 1.49;
  }

  &-2 {
    flex: 2;
  }

  &-3 {
    flex: 3;
  }

  &-4 {
    flex: 3.1;
  }

  &-5 {
    flex: 5;
  }

  &-align-self-end {
    align-self: flex-end;
  }
}

//Padding Y-axis

.padding-y {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }

  &-5 {
    padding: 5rem 0;
  }
}

//Components

.hero-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  font-family: "Playfair Display", serif;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &__text-content {
    position: relative;
    z-index: 2;
    padding: 0 2rem;
  }

  &__text-title {
    font-size: 7rem;
    letter-spacing: 0.7rem;
    margin-bottom: 1.2rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    animation: fade-in-up 1.4s ease 2s forwards;
  }

  &__text-p {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    animation: fade-in-up 1.4s ease 1.8s forwards;
  }

  &__video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
}

.bold {
  font-weight: 900;
}

//Animation

@keyframes fade-in-up {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 1.5rem;
}

.btn {
  text-transform: uppercase;
  color: inherit;
  background: $secondary-color;
  border: 4px solid $line-color;
  padding: 0.56em 0.43em;
  display: inline-block;
  letter-spacing: 6px;
  font-weight: bold;
  margin-top: 1.65rem;
  font-family: inherit;
  font-size: 1rem;
  transition: 0.5s ease background;

  &:hover,
  &:focus {
    background: lighten($secondary-color, 10%);
  }
}

.btn-alternate {
  color: #969696;
  background: $primary-color;
  border: 4px solid $primary-font-color;
  padding: 0.56em 0.43em;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: -1px;
  cursor: pointer;
  transition: 0.5s ease background;

  &:hover {
    background: lighten($primary-color, 20%);
  }
}

.add-to-cart-button,
.c-t-add-to-cart-button {
  display: block;
  margin: 1.4rem 0;
  width: 100%;
  font-family: "Public San", sans-serif;
  border: 3px solid $primary-font-color;
  background: $secondary-color;
  text-transform: uppercase;
  color: $primary-font-color;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5em 1.2em;
  cursor: pointer;

  &:hover {
    background: lighten($secondary-color, 20%);
  }

  &:disabled,
  &[disabled] {
    border: 3px solid #999999;
    background-color: $secondary-color;
    color: #666666;
    cursor: default;
  }
}

.checkout-button {
  display: block;
  margin: 1.4rem 0;
  width: 100%;
  font-family: "Public San", sans-serif;
  border: 3px solid $primary-font-color;
  background: $primary-color;
  color: $primary-font-color;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5em 1.2em;
  cursor: pointer;

  &:hover {
    background: lighten($secondary-color, 20%);
  }

  &:disabled,
  &[disabled] {
    border: 3px solid #999999;
    background-color: $secondary-color;
    color: #666666;
    cursor: default;
  }
}
.size-chart-component {
  padding: 1.4em 0;
  border-bottom: $third-line-color 2px solid;
  &-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.9rem;
  }

  &-options {
    gap: 0.8rem;
  }

  &-option {
    margin-bottom: 0.9rem;
    transition: border 0.5s ease;
    display: flex;
    width: 48px;
    height: 44px;
    border: $line-color 4px solid;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background: lighten($primary-color, 20%);
    }
  }
}

.site-location {
  margin-bottom: 1rem;

  p {
    font-weight: 600;
    letter-spacing: 0.24rem;
    text-align: center;
    font-size: 0.8rem;
  }
}

// Form Stylings

.global-logo {
  color: $navy-blue;
  font-weight: 600;
  font-size: 3rem;
  a {
    color: $navy-blue;
  }
}

.color-options {
  display: none;
}

.color-option {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 0.6rem;
}

.color-option-1 {
  background: rgb(185, 177, 233);
}

.color-option-2 {
  background: rgb(238, 220, 212);
}

.color-option-3 {
  background: rgb(15, 31, 59);
}

.color-option-4 {
  background: rgb(14, 46, 35);
}
.color-option-5 {
  background: rgb(107, 117, 138);
}

.catagories-card {
  height: 600px;
  padding: 1.7rem;
  width: 900px;
  position: relative;
  p {
    padding: 1rem;
    font-size: 3.2rem;
    font-weight: bold;
    height: 100%;
    line-height: 3rem;
    border: 4px solid $primary-font-color;

    a {
      color: $primary-font-color;
      position: relative;
      z-index: 5;
      display: inline-block;
      transition: color 0.6s ease;
      &:hover {
        color: lighten($primary-font-color, 7%);
      }
    }
  }

  &__link {
    width: 100%;
    display: inline-block;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    z-index: 4;
  }
}

.hero-text {
  margin-right: 1.6rem;
}

.hero-text__sub-text {
  font-size: 1.1rem;
  letter-spacing: 0.6rem;
  padding-bottom: 0.2rem;
  color: $third-font-color;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//Color-state

.large-border-on {
  border: 4px $primary-font-color solid;
}

.large-border-on-HARD {
  border: 4px $primary-font-color solid !important;
}

.small-border-on {
  border: 3px $primary-font-color solid !important;
}

.not-location {
  color: $terary-color;
}

.current-location {
  color: $primary-font-color;
}

.current {
  color: $light-blue !important;
}

.accent-color {
  color: $navy-blue !important;
}

.link-style {
  color: $primary-font-color;
  padding: 0rem 1.5rem;
  transition: color 0.5s ease, font-weight 0.2s ease;
  &:hover {
    color: $light-blue;
  }
}

//Overlay

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $secondary-color;
  overflow: hidden;
}

.line {
  width: 30px;
  height: 2.8px;
  background-color: $primary-font-color;
  margin: 0.4rem 0.4rem 0.4rem 0;
}

//JS Classes

.no-scroll {
  overflow: hidden;
}

.smallNavAppear {
  transform: translateX(0px) !important;
  transition: 0.6s ease transform;
}

.shoppingCartAppear {
  transform: translateX(0rem) !important;
  transition: 0.6s ease transform;
}

.open {
  display: block !important;
}

.display {
  max-height: 500px !important;
  transition: max-height 0.2s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.3s ease transform;
}

.no-display {
  display: none;
}

.no-display-HARD {
  display: none !important;
}

//Shopping Item

.selected-item-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1.5rem;
  gap: 1.2rem;

  h4,
  p {
    margin-bottom: 0.5rem;
  }
}

.item-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-shopping-item-button {
  display: inline-block;
  border: none;
  background: transparent;
  color: $primary-font-color;
  font-size: 1.3rem;
  transform: translateY(-3px);
  cursor: pointer;
}

.visible-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s visibility ease 1s, 0.4 opacity ease 1s;
}

.shopping-item-button-exit-sign {
}

// Media Queries Section
@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin min-media($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin both-media($minwidth, $maxwidth) {
  @media (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}
