html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  color: $primary-font-color;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

//Flexbox

.flex {
  display: flex;

  &-direction-column {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-fe {
    justify-content: flex-end;
  }
  &-jc-se {
    justify-content: space-evenly;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
  &-ai-fe {
    align-items: flex-end;
  }

  &-order-1 {
    order: 1;
  }

  &-order-2 {
    order: 2;
  }

  &-1 {
    flex: 1.49;
  }

  &-2 {
    flex: 2;
  }

  &-3 {
    flex: 3;
  }

  &-4 {
    flex: 3.1;
  }

  &-5 {
    flex: 5;
  }

  &-align-self-end {
    align-self: flex-end;
  }
}

.padding-y {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }

  &-5 {
    padding: 5rem 0;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 1.5rem;
}

.btn {
  text-transform: uppercase;
  color: inherit;
  background: $secondary-color;
  border: 4px solid $line-color;
  padding: 0.56em 0.43em;
  display: inline-block;
  letter-spacing: 6px;
  font-weight: bold;
  margin-top: 1.65rem;
  font-family: inherit;
  font-size: 1rem;
  transition: 0.5s ease background;

  &:hover,
  &:focus {
    background: lighten($secondary-color, 10%);
  }
}

.global-logo {
  font-weight: 600;
  font-size: 3rem;
  a {
    color: $navy-blue;
  }
}

.current {
  color: $light-blue !important;
}

.accent-color {
  color: $navy-blue !important;
}

//Overlay

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $secondary-color;
  overflow: hidden;
}

// Media Queries Section
@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin min-media($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

.line {
  width: 30px;
  height: 2.8px;
  background-color: $primary-font-color;
  margin: 0.4rem 0.4rem 0.4rem 0;
}

//JS Classes

.no-scroll {
  overflow: hidden;
}

.appear {
  transform: translateX(0px) !important;
  transition: 0.6s ease transform;
}

.no-display {
  display: none;
}

.display {
  max-height: 500px !important;
  transition: max-height 0.2s ease-in-out;
}
