// body {
//   @include min-media($viewport-9) {
//     overflow: auto !important;
//   }
// }

//Global Classes

.hero-showcase {
  &__text-content {
    @include media($viewport-3) {
      transform: translateY(-33px);
    }
  }

  &__text-title {
    @include media($viewport-14) {
      font-size: 5rem;
    }

    @include media($viewport-12) {
      font-size: 4.5rem;
    }

    @include media($viewport-9) {
      font-size: 4rem;
    }

    @include media($viewport-4) {
      font-size: 3rem;
    }

    @include media($viewport-3) {
      font-size: 2rem;
    }
  }

  &__text-p {
    @include media($viewport-4) {
      font-size: 0.9rem;
    }
    @include media($viewport-3) {
      font-size: 0.9rem;
    }
  }
}

// WHERE I AM!

.container {
  @include media($viewport-9) {
    width: 100%;
  }
  // @include min-media($viewport-25) {
  //   max-width: 2000px;
  // }
}

.btn {
  @include media($viewport-9) {
    font-size: 1rem;
  }
}

.add-to-cart-button {
  @include min-media($viewport-9) {
    font-size: 1.45rem;
  }
}

.size-chart-component {
  &-title {
    @include min-media($viewport-9) {
      font-size: 1.4rem;
    }
  }

  &-options {
    gap: 0.8rem;
  }

  &-option {
    @include min-media($viewport-9) {
      width: 60px;
      height: 54px;
      font-size: 1.3rem;
    }
  }
}

.catagories-card {
  @include media($viewport-9) {
    margin: 1rem;
    height: 500px;
    width: 100%;
    background-position: 32% 39%;
  }

  @include media($viewport-4) {
    height: 310px;
    width: 100%;
    padding: 1.2rem;
  }

  p {
    @include media($viewport-4) {
      font-size: 1.6rem;
      line-height: 1.9rem;
      border: 4px solid $primary-font-color;
    }
  }
}

.hero-text {
  @include media($viewport-9) {
    margin-bottom: 2.5rem;
  }

  @include media($viewport-4) {
    margin-right: 0rem;
  }
}

.site-location {
  p {
    @include min-media($viewport-9) {
      font-weight: 600;
      letter-spacing: 0.24rem;
      text-align: left;
      font-size: 0.95rem;
    }
  }
}

//Main Nav Styling

.desktop-nav {
  .container {
    @include media($viewport-9) {
      grid-template-columns: 2fr 2fr;
    }
  }

  .hamburger {
    @include media($viewport-9) {
      display: block;
    }
  }

  .logo {
    @include media($viewport-9) {
      font-size: 2.3rem;
    }

    @include media($viewport-4) {
      font-size: 1.9rem;
    }
  }

  .icon-bar {
    @include media($viewport-4) {
      padding-top: 0.5rem;
    }
    i {
      @include media($viewport-4) {
        font-size: 1.2rem;
      }
    }
  }
}

.desktop-nav-list {
  @include media($viewport-9) {
    display: none;
  }
}

.mobile-nav-list {
  @include media($viewport-9) {
    position: fixed;
    background-color: $primary-color;
    height: 100%;
    width: 16em;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    margin: 0rem;
    flex-direction: column;
    transform: translateX(-300px);
    overflow: auto;
  }

  @include min-media($viewport-9) {
    display: none;
  }
}

.mobile-nav-link {
  @include media($viewport-9) {
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    font-size: 1.7rem;
    font-weight: 400;
    display: inline-block;
  }
}

.chevron-down {
  margin-right: 1rem;
}

.desktop-nav-item {
  @include min-media($viewport-9) {
    padding: 0.7rem 0.5rem;
  }
}

.desktop-nav-item .c-t-n-s__list {
  @include min-media($viewport-9) {
    position: absolute;
    background: $dark-line-color;
    top: 76px;
    padding: 1.5rem;
    display: flex;
    left: 52%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease 0ms, visibility 1ms linear 400ms;
  }

  @include both-media($viewport-9, $men-women-nav-bar-tweak) {
    display: block;
  }

  @include media($viewport-9) {
    display: flex;
    flex-direction: column;
  }
}

.desktop-nav-item:hover .c-t-n-s__list,
.desktop-nav-item:hover .c-t-n-s__list {
  @include min-media($viewport-9) {
    opacity: 1;
    visibility: visible;
  }
}

.desktop-women-catagories-item .c-t-n-s__list {
  @include min-media($viewport-9) {
    left: 58%;
  }
}

.exit-button {
  @include media($viewport-9) {
    display: block;
  }
}

.add-to-cart-nav {
  @include media($viewport-4) {
    width: 100%;
  }
}

.a-t-c {
  &__continue-shopping {
    background: $secondary-color;
    padding: 1.5rem;

    &-btn {
      display: block;
      background: transparent;
      color: $primary-font-color;
      border: none;
      font-family: "Public Sans", sans-serif;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &-items-body {
    overflow-y: auto;
    height: 100%;
  }

  &-subtotal-section {
    padding: 1.4rem;
    background: $secondary-color;

    .subtotal {
      font-size: 1.4rem;
      &_title {
        font-weight: 400;
      }
    }
  }
}

#a-t-c__continue-shopping-arrow {
  margin-left: 0;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Showcase Section Styling */
.showcase {
  @include media($viewport-9) {
    padding: 3rem 0;
  }

  @include media($viewport-4) {
    text-align: center;
  }
  .container {
    @include media($viewport-9) {
      display: block;
    }
  }
}

.showcase-text {
  h4 {
    //Tweakpoint
    @include media($hero-text) {
      font-size: 0.75rem;
      letter-spacing: 0.4rem;
    }

    @include media($viewport-3) {
      letter-spacing: 0.3rem;
    }
  }

  h1 {
    //Tweakpoint
    @include media($hero-text) {
      font-size: 1.8rem;
    }

    @include media($viewport-4) {
      font-size: 1.4rem;
      padding: 0 1.4rem;
    }

    @include media($viewport-3) {
      font-size: 1.25rem;
    }
  }
}

/* Catagories Section Styling */
.catagories {
  .container {
    @include media($viewport-9) {
      flex-direction: column;
    }

    // @include media($viewport-12) {
    //   flex-direction: row;
    // }
  }
}

.catagories {
  @include media($viewport-9) {
    padding: 1rem;
  }
}

/* Email Scription Section */
.member-email-section {
  @include media($viewport-9) {
    padding: 3rem;
  }

  @include media($viewport-4) {
    padding: 1.5rem;
  }
}

.form-h2 {
  @include media($viewport-9) {
    inline-size: 607px;
    font-size: 2rem;
  }

  @include media($viewport-7) {
    inline-size: 427px;
    font-size: 1.5rem;
  }

  @include media($viewport-4) {
    inline-size: unset;
    font-size: 1.2rem;
  }
}

.form-p {
  @include media($viewport-7) {
    font-size: 1rem;
  }
}

.form-email {
  @include media($viewport-7) {
    padding: 0.2rem;
    width: 80%;
    margin-top: 1rem;
  }

  @include media($viewport-4) {
    width: 100%;
  }
}

/* Fall Sales Section */

//fix this

.sale-info {
  @include media($viewport-7) {
    top: 78%;
  }
  // @include media($viewport-9) {
  //   top: 64%;
  // }

  @include media($viewport-4) {
    top: 74%;
  }

  .btn {
    //Tweakpoint
    @include media($fall-sale-text) {
      margin-top: 0.3rem;
    }

    @include media($viewport-7) {
      display: none;
    }
  }
}

.sale-title {
  //Tweakpoint
  @include media($fall-sale-text) {
    font-size: 3.5rem;
  }

  @include media($viewport-9) {
    font-size: 3rem;
  }

  @include media($viewport-7) {
    font-size: 2.6rem;
  }

  @include media($viewport-4) {
    font-size: 1.2rem;
  }

  @include media($viewport-3) {
    font-size: 1rem;
  }
}

.sale-phrase {
  @include media($fall-sale-text) {
    font-size: 1.3rem;
  }

  @include media($viewport-4) {
    font-size: 0.95rem;
  }

  @include media($viewport-3) {
    font-size: 0.8rem;
  }
}

/* Fall Fashion Show Section */
.fall-designer-section {
  @include media($viewport-7) {
    padding: 3rem;
  }

  .container {
    @include media($viewport-7) {
      padding: 4rem;
    }

    @include media($viewport-3) {
      padding: 2rem;
    }
  }
}

.fd-text-content {
  @include media($viewport-7) {
    padding-top: 4%;
  }

  @include media($viewport-4) {
    padding-top: 1%;
  }

  @include media($viewport-3) {
    padding-top: 0;
  }
}

.fd-title {
  @include media($viewport-9) {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
  }

  @include media($viewport-7) {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  @include media($viewport-4) {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.fd-phrase {
  @include media($viewport-9) {
    font-size: 1.3rem;
  }

  @include media($viewport-7) {
    font-size: 1.1rem;
  }

  @include media($viewport-4) {
    font-size: 1rem;
  }

  @include media($viewport-3) {
    font-size: 0.75rem;
  }
}

.fd-link {
  @include media($viewport-7) {
    font-size: 0.95rem;
  }

  @include media($viewport-4) {
    font-size: 0.9rem;
  }

  @include media($viewport-4) {
    font-size: 0.8rem;
  }
}
/* Footer Styling */
.footer-section {
  @include media($viewport-7) {
    padding: 1.5rem 0;
    gap: 1.5rem;
  }
}

.footer-nav {
  @include media($viewport-7) {
    display: block;
  }
}

.footer-nav-list,
.corporate-info-list,
.discover-list,
.help-list,
.sign-up-membership {
  @include media($viewport-7) {
    border-bottom: $secondary-color 2px solid;
  }
}

.corporate-info-list,
.discover-list,
.help-list,
.sign-up-membership {
  @include media($viewport-7) {
    padding: 1.5rem 0;
    margin: 0;
  }

  a:last-child {
    padding-bottom: 0;
  }
}

.footer-nav-list {
  @include media($viewport-4) {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding-bottom: 0.4rem;
  }

  @include media($viewport-7) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav-link {
    @include media($viewport-7) {
      padding: 1.5rem;
    }

    a {
      @include media($viewport-4) {
        display: inline-block;
        padding: 0rem;
        padding-top: 0rem;
      }
      @include media($viewport-7) {
        display: inline-block;
        padding-left: 0.5rem;
      }
    }
  }
}

.title-content {
  @include media($viewport-7) {
    display: flex;
    justify-content: space-between;
  }

  i {
    @include media($viewport-7) {
      display: block;
      cursor: pointer;
    }
  }
}

.title {
  @include media($viewport-7) {
    margin-bottom: 0.75rem;
  }
}

.footer-block {
  @include media($viewport-7) {
    max-height: 68px;
    transition: max-height 0.2s ease-in-out;
  }
}

.corporate-info-list,
.discover-list,
.help-list {
  @include media($viewport-7) {
    overflow: hidden;
  }
}

.sign-up-membership {
  @include media($viewport-7) {
    text-align: center;
    border-bottom: none;
  }
}

/*=============================*/
/*||       ABOUT PAGE        ||*/
/*=============================*/

.about-story-section,
.about-charity-section {
  .container {
    @include min-media($viewport-7) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2.5rem;
    }
  }

  .about-story-content,
  .about-charity-content {
    @include min-media($viewport-7) {
      align-self: center;
    }
  }
}

.about-para-style {
  margin-top: 1.2rem;
  line-height: 1.6rem;
  font-size: 1rem;

  @include min-media($viewport-7) {
  }

  @include min-media($viewport-9) {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }

  @include min-media($viewport-12) {
  }
}

.about-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.25rem;

  @include min-media($viewport-7) {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  @include min-media($viewport-9) {
    font-size: 2.9rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
}

/* ---- About Showcase Section ---- */

.about-section {
  @include min-media($viewport-12) {
    height: 100vh;
  }

  @include both-media($viewport-9, $viewport-12) {
    height: 100%;
  }

  @include media($viewport-7) {
    height: 100%;
  }
  .container {
    @include min-media($viewport-7) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }

  .primary-about-head {
    margin-bottom: 1.75rem;
  }

  .primary-about-head,
  .secondary-about-head {
    @include min-media($about-hero-text-iphone) {
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: 0.4rem;
    }

    @include min-media($viewport-7) {
      font-size: 2.7rem;
      line-height: 2.7rem;
      letter-spacing: 0.3rem;
    }

    @include min-media($viewport-9) {
      font-size: 2.7rem;
      line-height: 2.7rem;
      letter-spacing: 0.3rem;
    }

    @include min-media($viewport-12) {
      font-size: 3.7rem;
      line-height: 3.7rem;
      letter-spacing: 0.7rem;
    }
  }
}

/* ---- About Story Section ---- */

.about-story-section {
  background: $secondary-color;

  p {
    margin-bottom: 2rem;
  }

  img {
    @include min-media($viewport-7) {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
    @include min-media($viewport-9) {
      height: 100%;
    }
  }
}

/* ---- About Values Section ---- */

.about-value-cards {
  @include min-media(840px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }
}
.card {
  @include min-media($viewport-7) {
    display: block;
  }

  @include min-media($viewport-9) {
    padding: 1rem 2rem;
  }

  &-img {
    width: 90px;
    height: 90px;
    margin: 0.55rem auto;

    @include min-media($viewport-7) {
      width: 95px;
      height: 95px;
    }
  }

  &-title {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    font-weight: 600;
  }

  &-para {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    line-height: 1.6rem;

    @include min-media($viewport-7) {
      font-size: 1rem;
    }
  }
}

/* ---- About Charity Section ---- */
.about-charity-section {
  background: $secondary-color;
  .container {
    @include min-media($viewport-7) {
      grid-template-columns: 2fr 1fr;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  .about-charity-content {
    @include min-media($viewport-7) {
      order: 2;
    }
  }

  img {
    @include min-media($viewport-7) {
      height: 400px;
      width: 100%;
      object-fit: cover;
      order: 1;
    }
    @include min-media($viewport-9) {
      height: 100%;
    }
  }
}

/*=============================*/
/*||      SHOP MEN PAGE      ||*/
/*=============================*/

.men-showcase-text,
.women-showcase-text {
  @include min-media($viewport-3) {
    margin-right: 0;
  }

  @include min-media($viewport-9) {
    margin-right: 3rem;
  }
}

.men-showcase-text h1,
.women-showcase-text h1 {
  @include min-media($viewport-3) {
    font-size: 2.7rem;
  }

  @include min-media($viewport-7) {
    font-size: 3.5rem;
  }

  @include min-media($viewport-9) {
    font-size: 3rem;
  }

  @include min-media($viewport-12) {
    font-size: 4.2rem;
  }
}

/* ---- Clothing Catagories Section ---- */

.outwear-catagories,
.t-shirt-catagories,
.hoodies-sweater-catagories,
.demin-catagories {
  a {
    @include min-media($viewport-3) {
      font-size: 1.5rem;
      padding-top: 0rem;
    }

    @include min-media($viewport-4) {
      font-size: 2.3rem;
      padding-top: 0rem;
    }

    @include min-media($viewport-7) {
      font-size: 3rem;
      padding-top: 1rem;
    }

    @include min-media($viewport-9) {
      font-size: 3.8rem;
      padding-top: 1rem;
    }
  }
}

.women-outwear-catagories,
.women-t-shirt-catagories,
.women-hoodies-sweater-catagories,
.women-demin-catagories,
.women-dresses-catagories,
.women-blouses-catagories {
  a {
    @include min-media($viewport-3) {
      font-size: 1.5rem;
      padding-top: 0rem;
    }

    @include min-media($viewport-4) {
      font-size: 2.3rem;
      padding-top: 0rem;
    }

    @include min-media($viewport-7) {
      font-size: 3rem;
      padding-top: 1rem;
    }

    @include min-media($viewport-9) {
      font-size: 3.8rem;
      padding-top: 1rem;
    }
  }
}

/*=============================*/
/*||     CATAGORIES PAGE      ||*/
/*=============================*/
.catagories-template-main-nav {
  .container {
    @include min-media($viewport-9) {
    }
  }
}

.catagories-template {
  .container {
    @include min-media($viewport-9) {
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 0rem;
    }

    @include min-media($viewport-12) {
      display: grid;
      grid-template-columns: 1fr 5fr;
      gap: 0rem;
    }
  }
  .new-item-showcase {
    .container {
      @include media($viewport-18) {
        display: flex;
      }

      @include media($viewport-14) {
        display: flex;
      }

      @include media($viewport-12) {
        display: flex;
      }
    }
  }
}

.catagories-template__nav {
  @include min-media($viewport-9) {
    display: block;
  }
}

.signup-banner {
  @include min-media($viewport-9) {
    padding: 1.5rem;
  }
}

.signup-banner__text {
  @include min-media($viewport-9) {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

// description
.catagories-template__content {
  &-title {
    @include min-media($viewport-9) {
      text-align: left;
      font-size: 2.5rem;
    }
  }

  // description

  &-description {
    @include min-media($about-hero-section-ipad-pro) {
      width: 90%;
    }
    @include min-media($viewport-9) {
      text-align: left;
      font-size: 1rem;
      line-height: 1.6;
      width: 70%;
    }
  }

  &-gallary {
    @include min-media($viewport-7) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include min-media($viewport-9) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include min-media($viewport-12) {
      grid-template-columns: repeat(4, 1fr);
    }

    &-card {
      @include min-media($viewport-3) {
        margin-bottom: 3rem;
      }
      &-text {
        @include media($viewport-4) {
          font-size: 0.8rem;
        }
      }

      &__img-content {
        &:hover img {
          @include media($viewport-4) {
            filter: blur(0px);
          }
        }

        &__add-to-cart {
          @include media($viewport-4) {
            display: none;
          }
        }
      }
    }
  }
}

.ff__content-description {
  @include media($viewport-9) {
    width: 100%;
  }
}

.ff__content-title {
  @include media($viewport-9) {
    font-size: 2.5rem;
  }

  @include media($viewport-4) {
    font-size: 2rem;
  }
}

.catagories-template {
  .new-item-showcase {
    .container {
      @include min-media($viewport-18) {
        display: flex;
      }

      @include media($viewport-14) {
        display: flex;
      }

      @include media($viewport-12) {
        display: flex;
      }

      @include media($viewport-9) {
        display: flex;
        flex-direction: column;
      }

      .new-item-showcase__img-content {
        @include media($viewport-9) {
          margin-right: 0;
          order: 1;
        }
      }

      .new-item-showcase__text-content {
        @include media($viewport-9) {
          order: 1;
          margin-bottom: 3rem;
        }
      }

      .new-item-showcase__text-title {
        @include media($viewport-7) {
          font-size: 2.8rem;
        }
      }
    }
  }
}

/*=============================*/
/*||     CLOTHING PAGE        ||*/
/*=============================*/

#c-t__site-location {
  margin-bottom: 0.5rem;
  & p {
    @include min-media($viewport-9) {
      font-size: 1rem;
    }
    text-align: left;
  }
}

.c-t {
  &__content {
    @include min-media($viewport-7) {
      display: flex;
      // grid-template-columns: 2fr 2fr;
      gap: 2rem;
    }
  }

  &__grid_2 {
    @include min-media($viewport-7) {
      align-self: center;
    }
  }

  &__header {
    @include min-media($viewport-7) {
    }

    &-title {
      @include min-media($viewport-12) {
        font-size: 2rem;
      }

      @include min-media($viewport-7) {
        width: 59%;
      }
    }
  }

  &__price {
    @include min-media($viewport-9) {
      font-size: 1.8rem;
    }
  }

  &__color {
    &-title {
      @include min-media($viewport-9) {
        font-size: 1.4rem;
      }
    }
  }

  &__product-description {
    &-title {
      @include min-media($viewport-9) {
        font-size: 1.4rem;
      }
    }

    &-text {
      @include min-media($viewport-9) {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }
}

/*=============================*/
/*||          FORM           ||*/
/*=============================*/

//Form Class Styling

.sign-in-form,
.sign-up-form {
  @include media($form-tweakpoint) {
    padding: 2rem 1.5rem;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  @include media($viewport-4) {
    padding: 2rem 1.5rem;
    width: 100%;
    margin: 0;
  }

  @include media($viewport-3) {
    padding: 2rem 1.5rem;
    width: 100%;
    margin: 0;
  }

  .form-content {
    @include media($viewport-4) {
      width: 100%;
      margin: auto;
    }

    @include media($viewport-3) {
      width: 100%;
      margin: auto;
    }
  }

  .global-logo {
    @include media($viewport-4) {
      font-size: 2.3rem;
    }

    @include media($viewport-3) {
      font-size: 2.3rem;
    }
  }

  &__title {
    @include media($viewport-4) {
      font-size: 1rem;
    }

    @include media($viewport-3) {
      font-size: 1rem;
    }
  }
}

.sign-in-up-button {
  @include media($viewport-4) {
    font-size: 1rem;
  }

  @include media($viewport-3) {
    font-size: 1rem;
  }
}
