// Color values from Adobe XD
$primary-color: #2c2c2c;
$secondary-color: #363636;
$navy-blue: #2c6bbd;
$light-blue: #4b8ce0;
$primary-font-color: #ffe2e2;
$secondary-font-color: #a7a7a7;
$third-font-color: #8f8e8e;
$terary-color: #313131;
$line-color: #707070;

//Media Queries variables

$viewport-3: 320px;
$viewport-4: 480px;
$viewport-7: 768px;
$viewport-9: 992px;
$viewport-12: 1200px;

/*Tweakpoint*/
// $email-subscription: 719px;

// $nav-bar: 1191px;
$hero-text: 1241px;
// $fashion-show-section: 1116px;
$email-subscription-text: 438px;

$fall-sale-text: 1080px;
