// Color values from Adobe XD
$primary-color: #2c2c2c;
$secondary-color: #363636;
$navy-blue: #2c6bbd;
$light-blue: #4b8ce0;
$primary-font-color: #f8e2e2;
$secondary-font-color: #a7a7a7;
$third-font-color: #8f8e8e;
$terary-color: #313131;
$line-color: #707070;
