@import "variables";
@import "global";

// Form
@import "form";

//Header Styling

.desktop-header {
  position: sticky;
  top: 0;
  z-index: 6;
}

//Main Nav Styling

.desktop-nav {
  background: $secondary-color;
  padding: 0.6rem 0;

  .container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
  }

  .hamburger {
    display: none;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .logo,
  .hamburger {
    font-weight: 600;
    align-self: center;
    justify-self: start;
    text-align: center;
    font-size: 3rem;
    a {
      color: $navy-blue;
    }
  }

  .icon-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    justify-self: end;
    i,
    .hamburger {
      font-size: 1.4rem;
      margin-left: 1rem;
      color: $primary-font-color;
    }

    .cart {
      position: relative;
      cursor: pointer;

      .number-of-item {
        font-family: "Public Sans", sans-serif;
        position: absolute;
        font-size: 0.8rem;
        top: -58%;
        left: 72%;
        background: #f3cdcd;
        border-radius: 50px;
        padding: 0.25rem;
        font-weight: 600;
        color: #2c2c2c;
      }
    }
  }
}

.desktop-nav-list {
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.exit-button {
  background: $secondary-color;
  font-size: 2rem;
  padding: 0.8rem;
  cursor: pointer;
  text-align: right;
  display: none;
}

/* Small Catagories Nav Section */

//Small Nav

.desktop-nav-header {
  i {
    padding: 0.8rem;
    transition: 0.2s transform ease;
  }
}

.c-t-n-s__list {
  display: none;
}

.c-t-n-s__title {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.75rem 1rem 0.75rem 0.8rem;
}

.c-t-n-s__sublist-link {
  display: inline-block;
  font-size: 0.95rem;
  color: $primary-font-color;
  padding: 0.5rem 0rem 0.5rem 2.3rem;
  transition: color 0.5s ease, font-weight 0.2s ease;
  &:hover {
    color: $light-blue;
  }
}

/* Showcase Styling */

.showcase {
  background: $primary-color;
  color: $primary-font-color;
}

.showcase-text {
  align-self: center;
  text-transform: uppercase;

  h1 {
    font-size: 2.6rem;
    line-height: 1.3;
    letter-spacing: 0.2rem;
  }
}

.showcase-img {
  position: relative;
}

.link-showcase {
  width: 100%;
  display: inline-block;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

//Add To Cart  Nav Styling

.add-to-cart-nav {
  position: fixed;
  background-color: $primary-color;
  height: 100%;
  width: 25rem;
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  margin: 0rem;
  flex-direction: column;
  transform: translateX(25rem);
}

.a-t-c {
  &__continue-shopping {
    background: $secondary-color;
    padding: 1.5rem;

    &-btn {
      display: block;
      background: transparent;
      color: $primary-font-color;
      border: none;
      font-family: "Public Sans", sans-serif;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &-items-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

  &-subtotal-section {
    padding: 1.4rem;
    background: $secondary-color;

    .subtotal {
      font-size: 1.4rem;
      &_title {
        font-weight: 400;
      }
    }
  }
}

#a-t-c__continue-shopping-arrow {
  margin-left: 0;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Catagories Section Styling */

.catagories {
  background: $secondary-color;
}

.men-catagories {
  background: linear-gradient(
      183deg,
      rgba(0, 0, 0, 0.15) 100%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../images/catagories-section/man-large.jpg") no-repeat center
      center/ cover;
  margin-right: 1.3rem;
}

.women-catagories {
  background: linear-gradient(
      183deg,
      rgba(0, 0, 0, 0.048) 100%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../images/catagories-section/woman-large.jpg") no-repeat center
      center/ cover;
  margin-left: 1.3rem;
}

/* Email Scription Section */

.member-email-section {
  background: url("../../images/email-section/email-bg-1.jpg") no-repeat center
    center/ cover;

  text-align: center;
}

.form-h2 {
  font-size: 2.5rem;
  inline-size: 697px;
}

.form-p {
  margin-top: 0.4rem;
  font-size: 1.3rem;
  font-weight: 200;
}

.form-email {
  padding: 0.5rem;
  width: 53%;
  margin-top: 1.8rem;
}

.form-button {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.8rem;
  padding: 0.4em 1.2em;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
}

::placeholder {
  color: $secondary-font-color;
}

/* Fall Sales Section */

.fall-sales-section {
  background: $primary-color;
}

.sale {
  display: flex;
  justify-content: center;
  position: relative;

  .link-men-fall-sale,
  .link-women-fall-sale {
    cursor: pointer;

    &:hover .sale-img {
      filter: saturate(120%) grayscale(0%);
      transform: scale(1.05);
      transition: filter 1s ease, transform 0.5s ease;
    }

    .sale-img {
      width: 100%;
      height: 100%;
      filter: grayscale(80%);
      transition: filter 1s ease, transform 0.5s ease;
    }
  }
}

.sale-info {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: inherit;
  z-index: 1;
}

// .sale-content-text {
//   position: relative;
//   // z-index: ;
// }

// .link-fall-sale-info {
//   width: 100%;
//   display: inline-block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   cursor: pointer;
//   z-index: 2;
// }

.sale-title {
  font-size: 4rem;
}

.sale-phrase {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

// /* Fall Fashion Show Section */

.fall-designer-section {
  background: $secondary-color;
  height: 100%;
  padding: 2rem;

  .container {
    border: $primary-font-color 16px solid;
    padding: 6rem;
  }
}

.fd-text-content {
  text-align: center;
}

.fd-title {
  font-size: 4.5rem;
  margin-bottom: 0.56rem;
}

.fd-phrase {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  font-weight: 200;
}

.fd-link {
  text-decoration: underline;
  padding: 0.75rem;
  color: $primary-font-color;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  transition: 0.3s ease-in color;

  &:hover {
    color: darken($primary-font-color, 10%);
  }
}

/* Footer Styling */

.footer-section {
  background: $primary-color;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-nav-link {
  a {
    display: block;
    color: $primary-font-color;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.7rem 0;
    align-self: center;
  }
}

.title-content {
  i {
    display: none;
  }
}

.title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.corporate-info-list,
.discover-list,
.help-list,
.sign-up-membership {
  margin-top: 1.3rem;
}

.footer-social-media {
  margin-top: 1.7rem;

  a {
    i {
      color: $primary-font-color;
      font-size: 1rem;
      padding-right: 0.8rem;
    }
  }
}

//-----------------------//
// Page Styling          //
//-----------------------//

@import "about";
@import "men-catagories";
@import "women-catagories";
@import "catagories-template";
@import "clothing-template";

/*---Media Queries---*/

@import "media";
